@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/cerebri-regular/CerebriSans-Regular.woff2') format('woff2'),
        url('assets/fonts/cerebri-regular/CerebriSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/cerebri-medium/CerebriSans-Medium.woff2') format('woff2'),
        url('assets/fonts/cerebri-medium/CerebriSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('assets/fonts/cerebri-light/CerebriSans-Light.woff2') format('woff2'),
        url('assets/fonts/cerebri-light/CerebriSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


:root {
    --grey-1: #F0F4F2;
    --grey-2: #CBD8D2;
    --grey-3: #E2E9E6;
    --grey-4: #F9FBFA;
    --grey-5: #1D352A;
    --black-1: #4B6358;
    --black-2: #0F241B;
    --green: #14B757;
    --green-1: #03A84E;
    --yellow: #FFEBB2;
    --light-green: #E9FBF2;
    --light-green-2: #F6FFFA;
    --light-purple: #E5E9FC;
    --light-orange: #FFF3DF;
    --light-pink: #FBE7F2;
    --light-yellow: #FFFDF5;
    --green-quaternary: #98DCAF;
    --pry-font: 'Cerebri Sans', serif;
    --sec-font: 'PT Serif', serif;
}

.flex {
    display: flex;
    align-items: center;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
}

body {
    padding: 2rem 1.5rem 0;
    font-family: var(--pry-font);
}

.back {
    background-color: var(--grey-1);
    height: 32px;
    width: 32px;
    border-radius: 50px;
    margin-right: 4.25rem;
}

.top-wrap p{
    text-align: center;
    font-weight: 500;
}

.home h1,
.top-wrap p {
    color: var(--black-2);
}

.home h1 {
    /*REMOVE THIS MARGIN TOP LATER**/
    margin-top: 2rem;

    font-family: var(--sec-font);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
}

/* .top-wrap p,
.summary,
.plan p:nth-child(2),
.choose-top p,
.apply-discount p:nth-child(1),
.apply-discount p:nth-child(2),
.order-summary p {
    font-family: var(--pry-font);
} */

.apply-discount h2,
.plan-details h2,
.plan-details button,
.choose-top button,
.plan p:nth-child(1),
.plan button,
.alert-info p {
    font-family: var(--pry-font);
    font-weight: 500;
}

.summary {
    line-height: 1.5rem;
    color: var(--black-1);
}

.plan-details h2{
    font-size: 1rem;
}

.plan-details button {
    color: var(--green-1);
    font-size: 0.875rem;
}

.plan-details {
    border-bottom: 1px solid var(--grey-2);
    padding-bottom: 1.125rem;
    margin: 2.6rem 0 1.5rem
}

.plan {
    border-radius: 1rem;
    padding: 1.4rem 1rem;
}

.plan,
.plan >div {
    display: flex;
    align-items: flex-start;
}

.plan img { 
    margin-right: 0.7rem;
}

.plan p:nth-child(1) {
    margin-bottom : .6rem;
}

.plan p:nth-child(2) {
    font-weight: 300;
    font-size: 0.875rem;
}

.plan button {
    font-size: 0.875rem;
    color: var(--black-1);
    column-gap: .4rem;
}

.green {
    background-color: var(--light-green);
}

.plan-wrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
}

.purple {
    background-color: var(--light-purple);
}

.orange {
    background-color: var(--light-orange);
}

.pink {
    background-color: var(--light-pink);
}

.choose-date {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--grey-2);
    border-top: 1px solid var(--grey-2);
}

.choose-top p{
    font-weight: 400;
}

.choose-top p,
.choose-top button {
    line-height: 1.5rem;
}

.choose-top button{
   color: var(--green-1);
   font-size: 1rem;
}

.alert-info {
    background-color: var(--light-yellow);
    border: 1px solid var(--yellow);
    margin-top: 1rem;
}

.alert-info,
.alert-info-dark {
    column-gap: 0.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.alert-info-dark {
    background-color: var(--grey-4);
    border: 1px solid var(--grey-2);
    margin: 1.5rem 0 2.5rem;
    display: flex;
    align-items: flex-start;
}

.alert-info-dark p {
    line-height: 1.25rem;
}

.alert-info-dark p,
.alert-info p {
    font-size: 0.875rem;
    color: var(--black-2);
}

.apply-discount h2 {
    color: var(--black-2);
    font-size: 1rem;
    line-height: 1.5rem;
}

.apply-discount p:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 400;
}
.apply-discount {
    border-bottom: 1px solid var(--grey-2);
}

.apply-discount p:nth-child(2) {
    color: var(--green-1);
    font-size: 0.8rem;
    border-top: 1.5px solid var(--green-1);
    padding-top: 0.4rem;
    margin-top: 0.625rem;
}

.apply-discount >div {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 60% auto;
    align-items: center;
    column-gap: 1rem;
}

.apply-discount button{
    border: 1px solid var(--grey-3);
    border-radius: 2rem;
    padding: 0.5rem 0.75rem; 
}

.green-text {
    color: var(--green-1);
}

.order-summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.order-summary p:not(.total) {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.total .bold {
    font-weight: 500;
}

.order-summary-wrap .info {
    text-align: right;
    font-size: 0.8rem;
    color: var(--black-1);
    margin-top: .3rem;
}

.green-btn {
    width: 100%;
    border-radius: 2rem;
    background-color: var(--green-1);
    color: #fff;
    padding: 1rem 0;
    font-size: 1rem;
    font-family: var(--pry-font);
}

.customize {
    text-align: center;
    font-size: 0.875rem;
    margin: 2.5rem 0 1.7rem;
}

.customize a {
    border-bottom: 1px solid var(--green-1);
    font-weight: 500;
}

.profile-completed img,
nav ul img{
    display: block;
    margin: auto;
}

.profile-completed .title {
    font-family: var(--sec-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--black-2);
    line-height: 2rem;
}

.profile-completed p {
    text-align: center;
}

.profile-completed .sub-title {
    color: var(--gray-5);
    line-height: 1.5rem;
    margin: 0.75rem 0 13rem;
}

.profile-completed {
    display: none;
}

.heading-top h1 {
    font-family: var(--sec-font);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.avatar-wrap {
    background-color: var(--light-orange);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
}

.heading-top button {
    margin-right: 1rem;
}

.btn-wrapper {
    background-color: var(--grey-1);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: .3rem;
    margin: 1.25rem 0 1.75rem;
}

.btn-wrapper,
.btn-wrapper button {
    border-radius: 0.5rem;
}

.btn-wrapper button {
    font-size: 0.875rem;
    font-family: var(--pry-font);
    padding: .4rem;
}

.btn-wrapper .active {
    background-color: #fff;
    font-weight: 500;
    color: var(--black-2);
}

.btn-wrapper button:not(.active) {
    color: var(--black-1);
}

.call-us {
    background-color: var(--green-1);
    border-radius: 0.5rem;
    border: 4px solid var(--green-quaternary);
    padding: 1rem;
}

.call-us h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0.4rem; 
}

.call-us {
    color: #fff;
    position: relative;
}

.call-us p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; 
}

.call-us img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* .dashboard >div {
    padding: 1rem 1rem 0 1rem;
} */

.food-delivery.green {
    border: 1px solid #6ECE8A;
    margin: 1.5rem 0;
    background-color: var(--light-green-2);
}

.cleaning.orange {
    border: 1px solid #FFC260;
    background-color:  #FFFBF5;
}

.cleaning h2 {
    color: #FF9D00;
}

.box {
    border-radius: 0.5rem;
}

.box h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-right: 0.75rem;
}

.food-delivery.green h2 {
    color: var(--green-1);
}

.view-status {
    border-radius: 2rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: .4rem .7rem;
    font-family: var(--pry-font);
}

.view-status.bg-green {
    background-color: var(--light-green);
    color: var(--green-1);
}

.view-status.bg-orange {
    color: #FF9D00;
    background-color: var(--light-orange);
}

.food-details {
    column-gap: 0.625rem;
    margin: 1.5rem 0 1rem;
}

.food-details p,
.get-ready {
    font-size: 0.875rem;
    line-height: 1.5rem; 
}

.food-details span:nth-child(1) {
    font-weight: 400;
    color: var(--black-1);
}

.food-details span:nth-child(3) {
    font-weight: 500;
    color: var(--black-2);
}

.delivery {
    column-gap: 0.5rem;
    border-top: 1px solid rgba(189, 238, 205, 0.50);
    padding: 0.75rem 0;
}

.delivery time {
    color: var(--greys-5);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;  
}

.orange-time {
    border-top: 1px solid rgba(255, 218, 159, 0.50);
}

.get-ready {
    color: #000;
    font-weight: 400;
    padding: 1.125rem 0 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2.7rem;
    padding: 0.7rem 0 2rem;
    box-shadow: 0px 1px 0px 0px #F1F4F2 inset;
}

nav ul .green-text {
    font-weight: 500;
}

nav ul span {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1rem;
    padding-top: .5rem;
    display: flex;
}

nav ul span:not(.green-text) {
    color: #8AA398;
}

.overlay {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.food-delivery-modal {
    padding-bottom: 9rem !important;
}

.modal {
    z-index: 10;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.25rem;
    /* min-height: 550px; */
    /* position: absolute;
    bottom: 3.37rem; */
    margin: 0 0.625rem;
}

.food-delivery-modal .date,
.small-text {
    color: var(--black-1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1rem;
}

.modal .back {
    margin-right: 0;
}

.mr-2 {
    margin-right: 0.5rem;
}

.normal-text {
    color: var(--black-2);
    font-weight: 500;
    line-height: 1.5rem;
}

.order {
    margin: 1.5rem 0 1.25rem;
}

.order-status {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.modal .address {
    border-radius: 8px;
    border: 1px dashed var(--grey-2);
    padding: 0.75rem 0;
}

.modal .address p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.address-2,
.order-note {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    
 }

.address-2 {
    color: var(--black-2);
    padding-top: .5rem;
}

.order-note {
    color: var(--black-1);
    display: flex;
    padding-top: .3rem;
}

.cleaner {
    border-top: 1px dashed var(--grey-2);
    padding-top: 12px;
    margin-top: 12px;
}

.cleaning-modal {
    max-height: 520px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green-quaternary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--green);
  }

@media only screen and (min-width: 1000px) {
    .cleaning-modal {
        max-height: inherit;
        overflow-y: unset;
    }
}