@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Cerebri Sans';
    src: url('./assets/fonts/CerebriSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/CerebriSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --grey-1: #F0F4F2;
    --grey-2: #CBD8D2;
    --black-1: #4B6358;
    --black-2: #0F241B;
    --green: #14B757;
    --green-1: #03A84E;
    --light-green: #E9FBF2;
    --light-green-2: #F6FFFA;
    --light-purple: #E5E9FC;
    --light-orange: #FFF3DF;
    --light-pink: #FBE7F2;
    --light-yellow: #FFFDF5;
    --pry-font: Cerebri Sans;
    --sec-font: 'PT Serif', serif;
}