@font-face {
    font-family: 'Cerebri Sans';
    src: url('CerebriSans-Medium.woff2') format('woff2'),
        url('CerebriSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

